{{>headerlinks}}
{{>navbar}}
<div style="display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;">
<h1 style="margin-top: 8rem;margin-bottom:4rem">YOU HAVE LOGGED OUT SUCCESSFULLY...</h1>
<a href="/login"><button id="logout">Click here to login again</button></a>
</div>
{{>footer}}