<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About MRU</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {{!-- <link rel="stylesheet" href="video.css"> --}}
  <link rel="icon" type="image/x-icon" href="img/logo4.jpg">
  <style>
    body {
      background-color: rgb(255, 255, 255);
      padding: 60px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .rbvid {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
    }
  </style>
</head>

<body>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item ">
        <a class="page-link" href="/mtext">Documentation</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="/mvideo">Video Explanation</a>
      </li>
    </ul>
  </nav>
  <div class="rbvid">
    <video controls width="100%" height="80%">
      <source src="video/mruvideo.mp4" type="video/mp4">
    </video>
    <h2>MRU Page Replacement ALGORITHM</h2>
  </div>
</body>

</html>