<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OS Info</title>
    <link rel="icon" type="image/x-icon" href="img/logo4.jpg">
    <style>
        body {

            color: white;
            background-image: linear-gradient(276deg, #171655 0%, #000000 74%);
            margin: 3%;
            border: 4px Green solid;
            border-radius: 20px;
            padding: 40px;
        }

        h1 {
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: 40px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h2 {
            color: rgb(255, 255, 255);

        }

        p {
            font-size: 30px;
            text-align: center;
        }

        .Osimg {
            text-align: center;
            border-radius: 30px;

        }

        .conceptimg {
            padding: top 20px;
            ;
            text-align: center;

        }

        .video {

            margin-left: 240px;
            margin-right: 240px;
            border: 2px white solid;
            text-align: center;
            border-radius: 20px;
        }

        footer {
            margin: 0%;
            text-align: center;
            font-size: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgb(14, 16, 30);
            padding: 20px;
            background-color: rgb(253, 244, 244);
        }

        a {
            text-decoration: none;
            color: white;
            font-size: x-large;
            font-weight: bolder;
            border-radius: 30px;

        }

        a:hover {
            color: rgb(244, 255, 121);
        }
    </style>
</head>

<body>
    <a class="navbar-brand" href="/cardos">
        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
        <lord-icon src="https://cdn.lordicon.com/hjbsbdhw.json" trigger="hover" style="width:45px;height:45px">
        </lord-icon>
    </a>
    <h1>
        Operating System
    </h1>
    <h2>
        An Operating System (OS) is an interface between a computer user and computer hardware. An operating system is a
        software which performs all the basic tasks like file management, memory management, process management,
        handling input and output, and controlling peripheral devices such as disk drives and printers.
    </h2>
    <p>Some Examples</p>
    <div class="Osimg">
        <img src="img/allos.jpg" style="border-radius: 30px
        ; box-shadow: inset 32px 3px 4px 4px white;" width="700px" height="300px" alt="">
    </div>
    <h2>
        The primary purposes of an Operating System are to enable applications (softwares) to interact with a computer's
        hardware and to manage a system's hardware and software resources.

        Some popular Operating Systems include Linux Operating System, Windows Operating System, VMS, OS/400, AIX, z/OS,
        etc. Today, Operating systems is found almost in every device like mobile phones, personal computers, mainframe
        computers, automobiles, TV, Toys etc.
    </h2>
    <h1>
        Definitions
    </h1>
    <h2>We can have a number of definitions of an Operating System. Let's go through few of them:

        An Operating System is the low-level software that supports a computer's basic functions, such as scheduling
        tasks and controlling peripherals.
        We can refine this definition as follows:

        An operating system is a program that acts as an interface between the user and the computer hardware and
        controls the execution of all kinds of programs.
    </h2>
    <h1>Architecture</h1>
    <h2>We can draw a generic architecture diagram of an Operating System which is as follows:
        <br>
        <br>
        <div class="conceptimg">
            <img src="img/os conceptual_view.jpg" style="border-radius: 30px" alt="img">
        </div>
        <br>
        Following are some of important functions of an operating System.
        <ul>
            <li> Memory Management </li>
            <li> Processor Management </li>
            <li> Device Management </li>
            <li> File Management</li>
            <li>Network Management </li>
            <li> Security </li>
            <li>Control over system performance</li>
            <li>Job accounting </li>
            <li> Error detecting aids </li>
            <li>Coordination between other software and users </li>
        </ul>
    </h2>
    <h1>Os Explaination</h1>
    <div class="video">
        <video width="520" height="320" controls>
            <source src="video/Operating Systems Animated.mp4" type="video/mp4">
        </video>
    </div>
    <br>
    <br>
</body>

</html>